<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="browser" value="chrome"></parameter>
    <test verbose="2" preserve-order="true" name="C:/Users/HP/IdeaProjects/JKYog/src/test/java/businessscripts">
        <classes><class name="businessscripts.Registration">
            <methods><include name="RegistrationTest"/>
            </methods>
        </class>
        </classes>
    </test>
</suite>